@{
    ViewData["Title"] = "Home Page";
}

<div id="WelcomePage">
    <img src="~/images/battleshipbackground.jpg" />

    <h1>Welcome to Battleship!</h1><br /><br />
</div>

<div class="container">
    <div class="col-lg-6 col-md-6" style="border: 4px; border-style:solid; border-color:#0094ff; padding: 1em;">
        <h2 for="username"> Username:</h2>
        <input type="text" id="username" name="username" />
    </div>
    <div class="col-lg-6 col-md-6" style="border: 4px; border-style:solid; border-color:#FF0000; padding: 1em;">
        <h2>Your Code:</h2>
        <label id="usercode">67G4K4</label>
    </div>
</div><br /><br />


<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="friendtab">Friend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="randomtab">Random</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" id="offlinetab">Offline</a>
            </li>
        </ul>
    </div>
    
    <div class="card-body" id="findfriend">
        <h5 class="card-title">Find a friend</h5>
        <p class="card-text">Find a friend by introducing their code below:</p>
        <input type="text" id="xusercode" name="xusercode" /><br /><br />
        <a href="#" class="btn btn-primary">Search!</a>
    </div>

    <div class="card-body" id="randomfriend" hidden="hidden">
        <h5 class="card-title">Random friend</h5>
        <p class="card-text">Find a random friend to start playing.</p>
        <a href="#" class="btn btn-primary">Search!</a>
    </div>

    <div class="card-body" id="computerfriend" hidden="hidden">
        <h5 class="card-title">Offline</h5>
        <p class="card-text">Play against the computer!</p>
    </div>

</div><br /><br />

<button type="button" class="btn btn-success btn-lg center-block">Start!</button>
