/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: lightgrey;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box:hover {
    background-color: yellow;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxe {
    background-color: #d76262;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxm {
    background-color: #87cf68;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.wrapper {
    width: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-auto-flow: column;
}

.wrapperg {
    width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-auto-flow: column;
}

/* NOT USE?*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
