@page
@model WebApplication1.Models.Battleship
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="active">
    <h2>Fight!</h2><br />

    <div class="wrapperg">
        @for (int i = 0; i<50; i++)
        {
            @if(i<25){
                <div class="boxe box1"> Bs </div>
            }
             else{
                <div class="boxm box1"> Bs </div>
            }
        }
    </div>
</div>