@page
@model WebApplication1.Models.Battleship
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="active">
    <h2>Fight!</h2><br />

    <div class="wrapperg">
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxe box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
        <div class="boxm box1"> Bs </div>
    </div>
</div>