@model List<WebApplication1.Models.Battleship>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="active">
    <h2>Fight!</h2><br />

    @{ int cnt = 0;}

    @{
        if (Model[0].hits > 4)
        {
            <script>
                alert("You Lost!")
                window.location.replace("..")
            </script>
        }

        if (Model[1].hits > 4)
        {
            <script>
                alert("You Won!")
                window.location.replace("..")
            </script>
        }
    }

    @using (Html.BeginForm("attackClick", "Battleship"))
    {
        <div class="wrapperg">
            @for (int j = 0; j < 2; j++)
            {

                @foreach (var item in Model[j].grid)
                {
                    if (j == 0)
                    {
                        if (item == 1)
                        {
                            <div class="boxm box1">
                                <img src="~/images/shipicon.png" />
                            </div>
                        }
                        else if (item == 0)
                        {
                            <div class="boxm box1">Bs</div>
                        }
                        else if (item == 2)
                        {
                            <div class="boxe box1">
                                <img src="~/images/deadship.png" />
                            </div>
                        }
                    }
                    else
                    {
                        if (item < 2)
                        {
                            <button class="boxe" type="submit" name="cell" value=@cnt>BS</button>
                        }
                        else if (item == 2)
                        {
                            <button class="boxe" type="submit" name="cell" value=@cnt>
                                <img src="~/images/deadship.png" />
                            </button>
                        }

                        cnt++;
                    }
                }
            }
        </div>
    }

</div>