@page
@model WebApplication1.Models.Battleship
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="active">
    <h2>Deploy your fleet!</h2><br />
    
    
    <div class="wrapper">
        <div class="box box1"> <a asp-area="" asp-controller="Battleship" asp-action="Place">Bs</a> </div>
        <div class="box box1" > <a asp-area="" asp-controller="Battleship" asp-action="Place">Bs</a> </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
        <div class="box box1"> Bs </div>
    </div>
</div>