@model WebApplication1.Models.Battleship
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="active">
    <h2 id="deployuser">Deploy your fleet!</h2><br />

    <p> Place your 5 ships to start!</p>
    
    
    @{
        int cnt = 0;
    }
        @using (Html.BeginForm("clickShipPos", "Battleship"))
        {
            <div class="wrapper">
            @foreach (var item in Model.grid)
            {
                        @if (item==1)
                        {
                            <button class="box boxs" type="submit" name="cell" value=@cnt>
                                <img src="~/images/shipicon.png"/>
                            </button>
                        }
                        else
                        {
                            <button class="box" type="submit" name="cell" value=@cnt>
                                <p>Bs</p>
                            </button>
                        }
                    
                cnt++;
            }
            </div>
        }
</div>
